/* This is a CSS comment.*/


/*
Comments are only to help PEOPLE read a code file. The
computer ignores them.
*/
body {
  margin: 20px;
}

.description {
  color: #7c8b88;
  font-style: normal;
  font-family: arial;
  font-size: larger;
  margin-left: 30px;
}

.app {
  display: -webkit-flex;
  display: flex;
}

.title {
  font-family: arial;background-color: #33bebe;
	font-weight: normal;
	font-size: -webkit-xxx-large;
	color: aliceblue;
}
